In [1]:
#import dependencies
import json 
import pandas as pd
import numpy as np
import re
from sqlalchemy import create_engine
from config import db_password
import time

### Links table cleaning

In [2]:
#load file
raw_links_df = pd.read_csv("../raw_data_tables/raw_links.csv")
print(f'number of records: {len(raw_links_df)}')
print(raw_links_df.head())

number of records: 62423
   movieId  imdbId   tmdbId
0        1  114709    862.0
1        2  113497   8844.0
2        3  113228  15602.0
3        4  114885  31357.0
4        5  113041  11862.0

In [3]:
#check for null values 
[[column,raw_links_df[column].isnull().sum()] for column in raw_links_df.columns]

[['movieId', 0], ['imdbId', 0], ['tmdbId', 107]]

In [4]:
#null tmbdID's are acceptable in the data

In [5]:
#check data types
raw_links_df.dtypes

movieId      int64
imdbId       int64
tmdbId     float64
dtype: object

In [6]:
#convert tmdbId to int type and fill NaN's with 0
raw_links_df['tmdbId'] = raw_links_df['tmdbId'].fillna(0).astype(int)
raw_links_df.dtypes

movieId    int64
imdbId     int64
tmdbId     int32
dtype: object

In [7]:
#create clean df and confirm 
clean_links_df = raw_links_df
print(f'number of records: {len(clean_links_df)}')
print(clean_links_df.head())
print(clean_links_df.dtypes)

number of records: 62423
   movieId  imdbId  tmdbId
0        1  114709     862
1        2  113497    8844
2        3  113228   15602
3        4  114885   31357
4        5  113041   11862
movieId    int64
imdbId     int64
tmdbId     int32
dtype: object

In [8]:
#export clean csv for import into Postgres 
clean_links_df.to_csv('../clean_data_tables/clean_links.csv', index=False)

### Tags table cleaning

In [9]:
#load file
raw_tags_df = pd.read_csv("../raw_data_tables/raw_tags.csv")
print(f'number of records: {len(raw_tags_df)}')
print(raw_tags_df.head())

number of records: 1093360
   userId  movieId               tag   timestamp
0       3      260           classic  1439472355
1       3      260            sci-fi  1439472256
2       4     1732       dark comedy  1573943598
3       4     1732    great dialogue  1573943604
4       4     7569  so bad it's good  1573943455

In [10]:
#check for null values 
[[column,raw_tags_df[column].isnull().sum()] for column in raw_tags_df.columns]

[['userId', 0], ['movieId', 0], ['tag', 16], ['timestamp', 0]]

In [11]:
#null tags are acceptable in the data

In [12]:
#convert Unix timestap to standard format
raw_tags_df['timestamp'] = pd.to_datetime(raw_tags_df['timestamp'], unit='s')
raw_tags_df.head()

   userId  movieId               tag           timestamp
0       3      260           classic 2015-08-13 13:25:55
1       3      260            sci-fi 2015-08-13 13:24:16
2       4     1732       dark comedy 2019-11-16 22:33:18
3       4     1732    great dialogue 2019-11-16 22:33:24
4       4     7569  so bad it's good 2019-11-16 22:30:55

In [13]:
#check data types
raw_tags_df.dtypes

userId                int64
movieId               int64
tag                  object
timestamp    datetime64[ns]
dtype: object

In [14]:
#create clean df and confirm 
clean_tags_df = raw_tags_df
print(f'number of records: {len(clean_tags_df)}')
print(clean_tags_df.head())
print(clean_tags_df.dtypes)

number of records: 1093360
   userId  movieId               tag           timestamp
0       3      260           classic 2015-08-13 13:25:55
1       3      260            sci-fi 2015-08-13 13:24:16
2       4     1732       dark comedy 2019-11-16 22:33:18
3       4     1732    great dialogue 2019-11-16 22:33:24
4       4     7569  so bad it's good 2019-11-16 22:30:55
userId                int64
movieId               int64
tag                  object
timestamp    datetime64[ns]
dtype: object

In [15]:
#export clean csv for import into Postgres 
clean_tags_df.to_csv('../clean_data_tables/clean_tags.csv', index=False)

### Movies table cleaning

In [16]:
#load file
raw_movies_df = pd.read_csv("../raw_data_tables/raw_movies.csv")
print(f'number of records: {len(raw_movies_df)}')
print(raw_movies_df.head())

number of records: 62423
   movieId                               title  \
0        1                    Toy Story (1995)
1        2                      Jumanji (1995)
2        3             Grumpier Old Men (1995)
3        4            Waiting to Exhale (1995)
4        5  Father of the Bride Part II (1995)

                                        genres
0  Adventure|Animation|Children|Comedy|Fantasy
1                   Adventure|Children|Fantasy
2                               Comedy|Romance
3                         Comedy|Drama|Romance
4                                       Comedy

In [17]:
#check for null values 
[[column,raw_movies_df[column].isnull().sum()] for column in raw_movies_df.columns]

[['movieId', 0], ['title', 0], ['genres', 0]]

In [18]:
#split year from title into separate column and format stings in columns
raw_movies_df['year'] = raw_movies_df['title'].str.extract(r'(\(\d{4}\))')
raw_movies_df['title'] = raw_movies_df['title'].str.replace(r'(\(\d{4}\))',"")
raw_movies_df['year'] = raw_movies_df['year'].str.replace('(',"")
raw_movies_df['year'] = raw_movies_df['year'].str.replace(')',"")
raw_movies_df['genres'] = raw_movies_df['genres'].str.replace('|',", ")
raw_movies_df.head()

C:\Users\Byron\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:3: FutureWarning: The default value of regex will change from True to False in a future version.
  This is separate from the ipykernel package so we can avoid doing imports until
C:\Users\Byron\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:4: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will*not* be treated as literal strings when regex=True.
  after removing the cwd from sys.path.
C:\Users\Byron\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:5: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will*not* be treated as literal strings when regex=True.
  """
C:\Users\Byron\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:6: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will*not* be treated as literal strings when regex=True.

,movieId,title,genres,year
0,1,Toy Story,"Adventure, Animation, Children, Comedy, Fantasy",1995
1,2,Jumanji,"Adventure, Children, Fantasy",1995
2,3,Grumpier Old Men,"Comedy, Romance",1995
3,4,Waiting to Exhale,"Comedy, Drama, Romance",1995
4,5,Father of the Bride Part II,Comedy,1995

In [19]:
#recheck for null values 
[[column,raw_movies_df[column].isnull().sum()] for column in raw_movies_df.columns]

[['movieId', 0], ['title', 0], ['genres', 0], ['year', 410]]

In [20]:
#check data types
raw_movies_df.dtypes

movieId     int64
title      object
genres     object
year       object
dtype: object

In [21]:
#convert year to int type and fill NaN's with 0
raw_movies_df['year'] = raw_movies_df['year'].fillna(0).astype(int)

In [22]:
#check data types
raw_movies_df.dtypes

movieId     int64
title      object
genres     object
year        int32
dtype: object

In [23]:
#create clean df and confirm 
clean_movies_df = raw_movies_df
print(f'number of records: {len(clean_movies_df)}')
print(clean_movies_df.head())
print(clean_movies_df.dtypes)

number of records: 62423
   movieId                         title  \
0        1                    Toy Story
1        2                      Jumanji
2        3             Grumpier Old Men
3        4            Waiting to Exhale
4        5  Father of the Bride Part II

                                            genres  year
0  Adventure, Animation, Children, Comedy, Fantasy  1995
1                     Adventure, Children, Fantasy  1995
2                                  Comedy, Romance  1995
3                           Comedy, Drama, Romance  1995
4                                           Comedy  1995
movieId     int64
title      object
genres     object
year        int32
dtype: object

In [24]:
#export clean csv for import into Postgres 
clean_movies_df.to_csv('../clean_data_tables/clean_movies.csv', index=False)

### Ratings table cleaning

In [25]:
#load file
raw_ratings_df = pd.read_csv("../raw_data_tables/raw_ratings.csv")
print(f'number of records: {len(raw_ratings_df)}')
print(raw_ratings_df.head())

number of records: 25000095
   userId  movieId  rating   timestamp
0       1      296     5.0  1147880044
1       1      306     3.5  1147868817
2       1      307     5.0  1147868828
3       1      665     5.0  1147878820
4       1      899     3.5  1147868510

In [26]:
#check for null values 
[[column,raw_ratings_df[column].isnull().sum()] for column in raw_ratings_df.columns]

[['userId', 0], ['movieId', 0], ['rating', 0], ['timestamp', 0]]

In [27]:
#convert Unix timestap to standard format
raw_ratings_df['timestamp'] = pd.to_datetime(raw_ratings_df['timestamp'], unit='s')
raw_ratings_df.head()

   userId  movieId  rating           timestamp
0       1      296     5.0 2006-05-17 15:34:04
1       1      306     3.5 2006-05-17 12:26:57
2       1      307     5.0 2006-05-17 12:27:08
3       1      665     5.0 2006-05-17 15:13:40
4       1      899     3.5 2006-05-17 12:21:50

In [28]:
#check data types
raw_ratings_df.dtypes

userId                int64
movieId               int64
rating              float64
timestamp    datetime64[ns]
dtype: object

In [29]:
#create clean df and confirm 
clean_ratings_df = raw_ratings_df
print(f'number of records: {len(clean_ratings_df)}')
print(clean_ratings_df.head())
print(clean_ratings_df.dtypes)

number of records: 25000095
   userId  movieId  rating           timestamp
0       1      296     5.0 2006-05-17 15:34:04
1       1      306     3.5 2006-05-17 12:26:57
2       1      307     5.0 2006-05-17 12:27:08
3       1      665     5.0 2006-05-17 15:13:40
4       1      899     3.5 2006-05-17 12:21:50
userId                int64
movieId               int64
rating              float64
timestamp    datetime64[ns]
dtype: object

In [30]:
#export clean csv for import into Postgres 
clean_ratings_df.to_csv('../clean_data_tables/clean_ratings.csv', index=False)

### Genome Scores table cleaning

In [31]:
#load file
raw_genome_scores_df = pd.read_csv("../raw_data_tables/raw_genome_scores.csv")
print(f'number of records: {len(raw_genome_scores_df)}')
print(raw_genome_scores_df.head())

number of records: 15584448
   movieId  tagId  relevance
0        1      1    0.02875
1        1      2    0.02375
2        1      3    0.06250
3        1      4    0.07575
4        1      5    0.14075

In [32]:
#check for null values 
[[column,raw_genome_scores_df[column].isnull().sum()] for column in raw_genome_scores_df.columns]

[['movieId', 0], ['tagId', 0], ['relevance', 0]]

In [33]:
#check data types
raw_genome_scores_df.dtypes

movieId        int64
tagId          int64
relevance    float64
dtype: object

In [34]:
#create clean df and confirm 
clean_genome_scores_df = raw_genome_scores_df
print(f'number of records: {len(clean_genome_scores_df)}')
print(clean_genome_scores_df.head())
print(clean_genome_scores_df.dtypes)

number of records: 15584448
   movieId  tagId  relevance
0        1      1    0.02875
1        1      2    0.02375
2        1      3    0.06250
3        1      4    0.07575
4        1      5    0.14075
movieId        int64
tagId          int64
relevance    float64
dtype: object

In [35]:
#export clean csv for import into Postgres 
clean_genome_scores_df.to_csv('../clean_data_tables/clean_genome_scores.csv', index=False)

### Genome Tags table cleaning

In [36]:
#load file
raw_genome_tags_df = pd.read_csv("../raw_data_tables/raw_genome_tags.csv")
print(f'number of records: {len(raw_genome_tags_df)}')
print(raw_genome_tags_df.head())

number of records: 1128
   tagId           tag
0      1           007
1      2  007 (series)
2      3  18th century
3      4         1920s
4      5         1930s

In [37]:
#check for null values 
[[column,raw_genome_tags_df[column].isnull().sum()] for column in raw_genome_tags_df.columns]

[['tagId', 0], ['tag', 0]]

In [38]:
#check data types
raw_genome_tags_df.dtypes

tagId     int64
tag      object
dtype: object

In [39]:
#create clean df and confirm 
clean_genome_tags_df = raw_genome_tags_df
print(f'number of records: {len(clean_genome_tags_df)}')
print(clean_genome_tags_df.head())
print(clean_genome_tags_df.dtypes)

number of records: 1128
   tagId           tag
0      1           007
1      2  007 (series)
2      3  18th century
3      4         1920s
4      5         1930s
tagId     int64
tag      object
dtype: object

In [40]:
#export clean csv for import into Postgres 
clean_genome_tags_df.to_csv('../clean_data_tables/clean_genome_tags.csv', index=False)

### Load cleaned tables to database

In [41]:
#db connectoin string
db_string = f"postgresql://root:{db_password}@bootcamp-group-3.cn5djhczpkaa.us-east-1.rds.amazonaws.com:5432/Bootcamp_Group_3"

#create db engine
engine = create_engine(db_string)

In [48]:
#load Links table into SQL

# chunk csv data, print rows being exported, run timer
rows_imported = 0
start_time = time.time()
for data in pd.read_csv('../clean_data_tables/clean_links.csv', chunksize=1000000):

    print(f'importing rows {rows_imported} to {rows_imported + len(data)}...', end='')  
    data.to_sql(name='Links', con=engine, if_exists='append')
    rows_imported += len(data)
    
    print(f'Done. {time.time() - start_time} total seconds elapsed')

importing rows 0 to 62423...Done. 4.733666181564331 total seconds elapsed

In [49]:
#load Tags table into SQL

# chunk csv data, print rows being exported, run timer
rows_imported = 0
start_time = time.time()
for data in pd.read_csv('../clean_data_tables/clean_tags.csv', chunksize=1000000):

    print(f'importing rows {rows_imported} to {rows_imported + len(data)}...', end='')  
    data.to_sql(name='Tags', con=engine, if_exists='append')
    rows_imported += len(data)
    
    print(f'Done. {time.time() - start_time} total seconds elapsed')

importing rows 0 to 1000000...Done. 73.06456446647644 total seconds elapsed
importing rows 1000000 to 1093360...Done. 79.7902421951294 total seconds elapsed

In [50]:
#load Movies table into SQL

# chunk csv data, print rows being exported, run timer
rows_imported = 0
start_time = time.time()
for data in pd.read_csv('../clean_data_tables/clean_movies.csv', chunksize=1000000):

    print(f'importing rows {rows_imported} to {rows_imported + len(data)}...', end='')  
    data.to_sql(name='Movies', con=engine, if_exists='append')
    rows_imported += len(data)
    
    print(f'Done. {time.time() - start_time} total seconds elapsed')

importing rows 0 to 62423...Done. 4.9317097663879395 total seconds elapsed

In [51]:
#load Ratings table into SQL

# chunk csv data, print rows being exported, run timer
rows_imported = 0
start_time = time.time()
for data in pd.read_csv('../clean_data_tables/clean_ratings.csv', chunksize=1000000):

    print(f'importing rows {rows_imported} to {rows_imported + len(data)}...', end='')  
    data.to_sql(name='Ratings', con=engine, if_exists='append')
    rows_imported += len(data)
    
    print(f'Done. {time.time() - start_time} total seconds elapsed')

importing rows 0 to 1000000...Done. 71.15868973731995 total seconds elapsed
importing rows 1000000 to 2000000...Done. 141.15570187568665 total seconds elapsed
importing rows 2000000 to 3000000...Done. 210.76349782943726 total seconds elapsed
importing rows 3000000 to 4000000...Done. 280.3184494972229 total seconds elapsed
importing rows 4000000 to 5000000...Done. 350.010888338089 total seconds elapsed
importing rows 5000000 to 6000000...Done. 419.220801115036 total seconds elapsed
importing rows 6000000 to 7000000...Done. 490.9897210597992 total seconds elapsed
importing rows 7000000 to 8000000...Done. 562.0016000270844 total seconds elapsed
importing rows 8000000 to 9000000...Done. 632.2053627967834 total seconds elapsed
importing rows 9000000 to 10000000...Done. 702.3810873031616 total seconds elapsed
importing rows 10000000 to 11000000...Done. 772.4283475875854 total seconds elapsed
importing rows 11000000 to 12000000...Done. 842.6532368659973 total seconds elapsed
importing rows 12000000 to 13000000...Done. 913.1119267940521 total seconds elapsed
importing rows 13000000 to 14000000...Done. 983.0988342761993 total seconds elapsed
importing rows 14000000 to 15000000...Done. 1052.9971947669983 total seconds elapsed
importing rows 15000000 to 16000000...Done. 1123.4620263576508 total seconds elapsed
importing rows 16000000 to 17000000...Done. 1193.9051792621613 total seconds elapsed
importing rows 17000000 to 18000000...Done. 1264.90580701828 total seconds elapsed
importing rows 18000000 to 19000000...Done. 1334.9866707324982 total seconds elapsed
importing rows 19000000 to 20000000...Done. 1405.2801492214203 total seconds elapsed
importing rows 20000000 to 21000000...Done. 1475.7842259407043 total seconds elapsed
importing rows 21000000 to 22000000...Done. 1545.9245631694794 total seconds elapsed
importing rows 22000000 to 23000000...Done. 1618.5610880851746 total seconds elapsed
importing rows 23000000 to 24000000...Done. 1688.1749403476715 total seconds elapsed
importing rows 24000000 to 25000000...Done. 1761.1713857650757 total seconds elapsed
importing rows 25000000 to 25000095...Done. 1761.5884048938751 total seconds elapsed

In [52]:
#load Genome Scores table into SQL

# chunk csv data, print rows being exported, run timer
rows_imported = 0
start_time = time.time()
for data in pd.read_csv('../clean_data_tables/clean_genome_scores.csv', chunksize=1000000):

    print(f'importing rows {rows_imported} to {rows_imported + len(data)}...', end='')  
    data.to_sql(name='Genome_Scores', con=engine, if_exists='append')
    rows_imported += len(data)
    
    print(f'Done. {time.time() - start_time} total seconds elapsed')

importing rows 0 to 1000000...Done. 63.15814685821533 total seconds elapsed
importing rows 1000000 to 2000000...Done. 126.12455129623413 total seconds elapsed
importing rows 2000000 to 3000000...Done. 189.05762577056885 total seconds elapsed
importing rows 3000000 to 4000000...Done. 255.23566341400146 total seconds elapsed
importing rows 4000000 to 5000000...Done. 321.57755756378174 total seconds elapsed
importing rows 5000000 to 6000000...Done. 384.7476463317871 total seconds elapsed
importing rows 6000000 to 7000000...Done. 449.8145673274994 total seconds elapsed
importing rows 7000000 to 8000000...Done. 512.6436941623688 total seconds elapsed
importing rows 8000000 to 9000000...Done. 577.7558212280273 total seconds elapsed
importing rows 9000000 to 10000000...Done. 641.1769278049469 total seconds elapsed
importing rows 10000000 to 11000000...Done. 704.5450882911682 total seconds elapsed
importing rows 11000000 to 12000000...Done. 768.5639190673828 total seconds elapsed
importing rows 12000000 to 13000000...Done. 831.6432020664215 total seconds elapsed
importing rows 13000000 to 14000000...Done. 895.0558063983917 total seconds elapsed
importing rows 14000000 to 15000000...Done. 957.6715495586395 total seconds elapsed
importing rows 15000000 to 15584448...Done. 995.0989620685577 total seconds elapsed

In [53]:
#load Genome Tags table into SQL

# chunk csv data, print rows being exported, run timer
rows_imported = 0
start_time = time.time()
for data in pd.read_csv('../clean_data_tables/clean_genome_tags.csv', chunksize=1000000):

    print(f'importing rows {rows_imported} to {rows_imported + len(data)}...', end='')  
    data.to_sql(name='Genome_Tags', con=engine, if_exists='append')
    rows_imported += len(data)
    
    print(f'Done. {time.time() - start_time} total seconds elapsed')

importing rows 0 to 1128...Done. 0.5556180477142334 total seconds elapsed